@import "../../../scss/variables";

.configuration-content {
  height: calc(100% - 40px);
  border-width: 1px;
  border-style: solid;
  border-color: $gray;
  border-top: none;
  overflow: hidden;
  background: $white;

  .tab-pane.active {
    display: flex;
    flex-direction: column;
  }

  table {
    td,
    th {
      white-space: nowrap;

      &.verified {
        background: $success;
      }

      &.unverified {
        background: $danger;
        color: $white;
      }
      &.inaccurate {
        background: $warning;
        color: $white;
      }
    }
  }

  .address-table-card {
    overflow: auto;

    .data-table {
      min-width: $min-layout-width;

      .table-responsive {
        width: auto;
        overflow-x: auto;
        margin-bottom: 1rem;
      }

      .pagination {
        justify-content: flex-end !important;
      }
    }
  }

  .badge {
    cursor: pointer;
  }
}
