@import "../../scss/variables";

.route-planner-layout {
  width: 100%;
  height: $layout-height;

  .set-end-address {
    height: $toggle-height;

    span {
      line-height: $toggle-height;
      font-size: $md-font-size;
    }
  }

  .address-forms {
    max-height: 730px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
