// Variable overrides

$toggle-height: 22px;
$layout-height: 800px;
$min-layout-width: 500px;

// Variable fonts
$xl-font-size: 18px;
$lg-font-size: 16px;
$md-font-size: 14px;
$sm-font-size: 12px;
$xs-font-size: 10px;

// Variable colors
$black: #000000;
$white: #ffffff;
$transparent: transparent;
$gray: #c4c9d0;
$success: rgb(220, 250, 213);
