@import "../../../scss/variables.scss";

.address-form {
  label {
    min-height: 1rem;
    display: flex;
    flex-direction: column-reverse;
    white-space: nowrap;
  }

  .stop-label {
    margin-top: 0.625rem;
  }

  .home-label {
    margin-top: 2.5rem;
  }

  .stop-label,
  .home-label {
    display: flex;
    position: relative;

    span {
      margin-right: auto;
    }
  }
}
